*~
*#
*.o
*.mod
*.Mod
*.MOD
examples/bin/*
lib/*
mango_out.*
examples/output/summary*
examples/output/short_summary*
.DS_Store
examples/.DS_Store
examples/temp
examples/tests/__pycache__/
external_packages/nlopt
external_packages/hopspack/hopspack-2.0.2-src.tar.gz
external_packages/hopspack/hopspack-2.0.2-src/*
external_packages/hopspack/HOPSPACK_main_mpi
external_packages/hopspack/src/*
external_packages/hopspack/obj/*

